
.header-gradient {
  background: linear-gradient(99deg, #101c70, #0dbae5);

}
.section {
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.closable-banner-title {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25;
  color: #24bbe3;
}


