
.header-gradient {
  background: linear-gradient(99deg, #101c70, #0dbae5);

}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header {
  position: relative;
  padding-top: 56px; 
  height: 200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/src/components/images/header-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Set the opacity here */
  z-index: 1; /* Ensure the pseudo-element is behind the content */
}

.header .navbar, .header-banner {
  z-index: 2; /* Ensure the content is above the pseudo-element */
}

.header-banner {
  background-color: #f8f9fa; /* Light grey background */
  padding: 1rem;
  text-align: center;
  position: relative;
}

.header-banner .alert {
  margin-bottom: 0;
}

.closable-banner-title {
  font-style: italic;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25;
  color: #24bbe3;
}


